<p class="comment_header">
  <b><%= link_to comment.user.name, comment.user %> </b>
  <span class="comment_time"><%= time_ago_in_words(comment.created_at) %> ago:</span>
</p>

<p class="comment_body">
  <%=h comment.body %>
</p>