
* {
	padding:0;
	margin: 0;
	font-family: helvetica, arial, sans-serif;
}


.wrapper {
	width: 100%;
	height:100%;
	background-color: #ffffff;
	color: #1d1d1d;  

}

.header {
	height: 35px;
	width: 100%;
	position: fixed;
	top:0;
	left:0;
	background-color: #424242;  
	z-index: 10;
	border-top: 10px solid #3ebde6;
}

.header .user_navigation {
	position: absolute;
	top:0px;
	left:227px;
	height:25px;
	padding: 5px 10px;
	font-size: 12px;
	width: 345px;
	border: 2px solid #fff;
	color: #999994;
}
.header .news{
	position: absolute;
	top:0px;
	left:594px;
	height:25px;
	padding: 5px;
	font-size: 12px;
	width: 400px;
	border: 2px solid #fff;
	color: #999994;
}

.header .user_navigation a {
	font-size: 12px;
	color: #3ebde6;
	text-decoration: underline;
}

.header ul {
	list-style: none;
	list-style-type: none;
}


.header ul li {
	float:left;
	background-image: url("menu_br.jpg");
	background-position: left;
	background-repeat: no-repeat;
	padding: 0 7px;
}

.header ul li a{
	color: #999994;
	
}
.image_info table a{
	color: #444fd0;
}

.header ul li.username{
	background-image: none;
}

.header ul li.username a{
	color: #dfdfdf;
}

#logo {
	width: 225px;
	height: 35px;
	position: absolute;
	left: 0px;
	top: 0px;
	display: block;
	border: 2px solid #fff;
}
#logo img {
	width: 170px;
	padding: 4px 10px;

}
.left_side {
height: 100%;
width:182px;
position:fixed;
left:0;
top: 40px; 

}

.left_side .main_navi {
padding:20px 0;
font-size: 12px;
}

.left_side ul {
list-style: none;
list-style-type: none;
}

.left_side ul li{
padding: 2px 20px;

}
.left_side ul li a{
color: #424242;
text-decoration: none;
}
.left_side ul li.active a{
color: #000;
background: url('../images/active.png') no-repeat;
padding-left: 17px;
font-style: italic;
font-weight: bold;
}

.left_side ul li:hover a {
font-style: italic;	
}



.right_side {
	position: absolute;
	left: 180px;
	top: 80px;    
	height:90%;    
	overflow: auto;
}



.right_side .image_info {
	padding: 40px;
	width: 600px;
}

.shadow {
	-moz-box-shadow: 3px 3px 10px #000 inset;
	-webkit-box-shadow: 3px 3px 10px #000 inset;
	box-shadow: 3px 3px 10px #000 inset;
}

.image_info table {
	width: 300px;
}
.image_info table.info1 {
	float: left;
}
.image_info table.info2 {
	float: right;
	text-align: right;
}
.right_side .comments{
position: fixed;
top: 130px;
right: 10px;
width: 270px;
}
.image_info h2 {
	font-size: 14px;
	padding: 5px 2px;
}
.comments h1 {
font-size: 18px;
padding: 10px 0;
}
.comment_entry {
	padding: 5px 0;
	width: 600px;
	border-bottom: 1px dashed #ccc;
}
.comment_entry .topline {
	float: left;
}
.comment_entry .topline a {
	color: #444fd0;
	text-decoration: none;
}

.comment_entry .body {
clear: both;
}

.add_comment {
padding-top: 10px;
}

.add_comment h2 {
font-size: 14px;
}

.comment_time {
	font-size: 10px;
	color: #777777;
}
.add_comment form textarea {
width: 600px;
height: 30px;
}
.add_comment label {
	font-weight: bold;
}
.add_comment form input {
float: right;
} 

.comment form textarea {
	width: 300px;
	height: 200px;
}  

.newest_images {
	margin-top: 20px;
}  
.newest_images a{
	padding: 0 5px; 
} 
tr.grey td {
 background-color: #eee;   
}         
th {
 background-color: #ccc;   
}