<% title "User" %>

<p>
  <strong>Name:</strong>  <%= @user.username %> <br/>
  <strong>Works at:</strong>  <%= @user.company %> <br/>  
  <strong>Email:  </strong><%= link_to @user.email %> <br/>  
</p>

